body{
    color: darkslateblue;
    background-color: black;
    
}
.button2{
    background-color: antiquewhite;
    color: burlywood;
}
.button3{
    background-color: chocolate;
    color: dodgerblue;
}
.button52{
    background-color: crimson;
    color: black;
}